<nav class="navbar navbar-fixed-top navbar-success" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-index">
	        	<span class="sr-only">Toggle navigation</span>
	        	<span class="icon-bar"></span>
	        	<span class="icon-bar"></span>
	        	<span class="icon-bar"></span>
	    	</button>
            <a class="navbar-brand" href="/">
                <img src="/app/assets/blackbird_logo2.png" alt="Blackbird logo" />
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navigation-index">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a rel="tooltip" data-placement="bottom" href="mailto:artem.drozdoff@gmail.com" target="_blank" class="btn btn-white btn-simple btn-just-icon" data-original-title="Email me">
                        <i class="fa fa-envelope"></i>
                    </a>
                </li>
                <li>
                    <a rel="tooltip" title="" data-placement="bottom" href="https://linkedin.com/in/artdrozdov" target="_blank" class="btn btn-white btn-simple btn-just-icon" data-original-title="Contact me on Linkedin">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </li>
                <li>
                    <a rel="tooltip" title="" data-placement="bottom" href="https://twitter.com/ArtemDrozdoff" target="_blank" class="btn btn-white btn-simple btn-just-icon" data-original-title="Follow me on Twitter">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>