<div class="row tim-row ">
    <h2 class="text-center">The place where the journey begins</h2>
    <div class="col-md-10 col-md-offset-1 col-sm-6 col-sm-offset-3 col-xs-4 col-xs-offset-4">
        <div class="row-fluid">
            <div class="col-md-4">
                <img src="/app/assets/eunu.jpg" class="img-thumbnail img-raised img-responsive eunu" />
            </div>
            <div class="col-md-8">
                <h3>East Ukrainian Volodymyr Dahl National University</h3>
                <p>is one of the leading establishments of higher education in Ukraine. It was founded in 1920, and in 1991 it was named after Vladimir Dal. It was the first higher educational establishment in which specialists in machine-building were trained.</p>
            </div>
        </div>
    </div>
</div>