<div class="row-fluid">
    <h2 class="text-center animated tada">Hello!</h2>
    <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
        <div class="row-fluid">
            <div class="col-xs-12">
                <img src="app/assets/author.png" alt="Raised Image" class="img-thumbnail img-responsive img-raised artd-photo">
                <div class="clearfix"></div>
            </div>
            <div class="col-xs-12" ng-controller="summaryController as cnt">
                <h3>My name is Artem Drozdov</h3>
                <p>Welcome to my personal homepage!</p>
                <p>This page was created to replace an ordinal CV. As I trully believe that real craftsman don't need a CV:) </p>
                <p>As a software engineer I've got <b>{{cnt.expirienceYears}} years</b> of commercial software development expirience. </p>
            </div>
        </div>
    </div>

</div>