<div class="row tim-row">
    <h2 class="text-center">Hello!</h2>
    <legend></legend>
    <div class="col-md-8 col-md-offset-2 col-sm-6 col-sm-offset-3 col-xs-4 col-xs-offset-4">
        <div class="row-fluid">
            <div class="col-md-6 col-sm-12">
                <img src="app/assets/author.png" alt="Raised Image" class="img-rounded img-responsive img-raised artd-photo">
                <div class="clearfix"></div>
            </div>
            <div class="col-md-6 col-md-offset-6 col-sm-12">
                <p>Welcome to me personal homepage!</p>
                <p>This page was created to replace an ordinal CV. As I trully believe that real craftsman don't need a CV:) </p>
                <p>
            </div>
        </div>
    </div>

</div>