<div class="row tim-row">
    <h2 class="text-center">Professional Skills</h2>
    <legend></legend>
    <div class="col-md-8 col-md-offset-2 col-sm-6 col-sm-offset-3 col-xs-4 col-xs-offset-4">
        <div class="row-fluid">
            <div class="col-md-2 col-xs-4">
                <img class="img-responsive img-thumbnail" src="/app/assets/csharp.png">
            </div>
            <div class="col-md-2 col-xs-4">
                <img class="img-responsive img-thumbnail" src="/app/assets/dot-net-logo.svg">
            </div>
            <div class="col-md-2 col-xs-4">
                <img class="img-responsive img-thumbnail" src="/app/assets/sql_server.jpg">
            </div>
            <div class="col-md-2 col-xs-4">
                <img class="img-responsive img-thumbnail" src="/app/assets/aspnet-logo.png">
            </div>
            <div class="col-md-2 col-xs-4">
                <img class="img-responsive img-thumbnail" src="/app/assets/js.png">
            </div>
            <div class="col-md-2 col-xs-4">
                <img class="img-responsive img-thumbnail" src="/app/assets/typescript-logo.png">
            </div>
            <div class="col-md-2 col-xs-4">
                <img class="img-responsive img-thumbnail" src="/app/assets/html-logo.png">
            </div>
            <div class="col-md-2 col-xs-4">
                <img class="img-responsive img-thumbnail" src="/app/assets/css-logo.png">
            </div>
        </div>
    </div>
</div>